body {
    margin: 0;
    padding: 0;
    background: #40b0ff;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: #fff;
    box-shadow: -10px 5px 30px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    /* transition: .5s; */
}